<div class="mt-12 flex flex-col space-y-8 items-center justify-center">
  <div><%= image_tag '500.jpg' %></div>
  <h1 class="text-red-700 text-xl md:text-3xl">サーバーに問題が発生しました。</h1>
  <p class="text-lg">しばらくお待ちいただくか、後でもう一度お試しください。</p>
  <p class="text-lg">問題が解決しない場合は、管理者にお問い合わせください。</p>
  <%= link_to '<<< 戻る', root_path, class: 'text-xl text-blue-500' %>
</div>