<div class="mt-12 flex flex-col space-y-8 items-center justify-center">
  <div><%= image_tag '404.jpg' %></div>
  <h1 class="text-red-700 text-xl md:text-3xl">ページが見つかりません。</h1>
  <p class="text-lg">申し訳ありません！このページは利用できません。</p>
  <%= link_to '<<< 戻る', root_path, class: 'text-xl text-blue-500' %>
</div>