<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

  <p>この度はご注文いただき、誠にありがとうございます！</p>
  <p>----------------------------------------------------------------------------------------------------------<br>
    <p>ご注文内容を無事に受け付けましたのでお知らせいたします。</p>
    <p>ご注文の発送が完了しましたら、改めて追跡情報を含むメールをお送りします。</p>
    <p>ご注文の詳細や最新の状況は、以下のリンクからご確認いただけます。</p>
    <p><a href="<%= @url %>"><%= @url %></a></p>
    -----------------------------------------------------------------------------------------------------------</p>

    <p>----------------------------------------------------------------------<br>
    運営事務局： ShopFizz<br>
    責任者： 櫻井 志保<br>
    E-mail: admin@example.com<br>
    電話番号：000-0000-0000<br>
    住所：〒000-0000  東京都○○区△△町0-0-0<br>
    -------------------------------------------------------------------------</p>
  </body>
</html>