<p><%= @email %> さん、こんにちは!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>あなたのメールアドレスが <%= @resource.unconfirmed_email %> に変更されることをお知らせします。</p>
<% else %>
  <p>あなたのメールアドレスが <%= @resource.email %> に変更されたことをお知らせします。</p>
<% end %>
