/*
 * Your custom CSS goes here but before adding a lot of CSS check this out:
 *   https://tailwindcss.com/docs/extracting-components
*/
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.rating-box .ratings .fa{
    font-size: 30px;
    color:#ffcc00;
    cursor: pointer;
  }
  
  .main-rating {
    display: flex;
  }
  
  .rating-value-display {
    font-size: 20px;
  }

  .star-rating {
    position: relative;
    width: 5em;
    height: 1em;
    font-size: 25px;
  }
  .star-rating-front {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    color: #ffcc33;
  }
  .star-rating-back {
    color: #ccc;
  }
  
  .average-score {
    display: flex;
  }
  .average-score-display {
    font-size: 16px;
  }

  .darumadrop-one-regular {
    font-family: "Darumadrop One", serif;
    font-weight: 400;
    font-style: normal;
  }